html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: Arial, Verdana, sans-serif;
}
/*---------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500;600&display=swap');


.body-wraper {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    padding-top: 41px;
    height: 130vh;
    background-image: url(img/header-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    display: block;
}

.logo__img {
    width: 200px;
}

.header__burger-btn {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 2;
    cursor: pointer;
}

.header__burger-btn span {
    display: block;
    position: absolute;
    width: 30px;
    height: 3px;
    left: 5px;
    background-color: rgb(255, 255, 255);
    transition: background-color .3s, opacity .3s, transform .5s;
    will-change: transform;
}

.header__burger-btn:hover span {
    background-color: rgb(255, 255, 255);
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}

/* Крестик */

.header.open .header__burger-btn span {
    background-color: white;
}

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.menu__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu__item:not(:last-child) {
    margin-right: 20px;
}

.menu__link {
    font-size: 16px;
}
.menu__item{
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding-right: 38px;
}
.menu__item:hover{
    color: rgb(0, 251, 255);
    font-size: 19px;
}
@media (max-width: 992px) {
    .header__burger-btn {
        display: block;
    }
    .menu {
        position: absolute;
        right: -350px;
        top: 0;
        width: 350px;
        height: 100vh;
        padding: 75px 20px 20px 20px;
        background-color: rgba(40, 169, 225, 0.769);
        visibility: hidden;
        transition: transform .5s, visibility .5s;
        will-change: transform;
    }
    .menu__list {
        display: block;
        margin-top: 20%;
    }
    .menu__item:not(:last-child) {
        margin-right: 0;
    }
    .menu__link {
        color: white;
        font-size: 30px;
        font-weight: 700;
        display: block;
        padding: 10px;
    }
    .header.open .menu {
        transform: translateX(-100%);
        visibility: visible;
    }
}
.main{
    display: block;
    justify-content: center;
}
.main__title{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    font-style: normal;
    font-weight: 600;
    line-height: 104px;
    margin-top: 93px;
    margin-bottom: 24px;
}
.main__desc{
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.main__explore{
    margin-left: auto;
    margin-right: auto;
    width: 987px;
    height: 198px;
    border-radius: 15px;
    background: rgba(174, 174, 174, 0.15);
    padding: 35px 38px;
}
.main__explore__block{
    width: 910px;
    height: 128px;
    border-radius: 15px;
    background: #FFF;
    padding: 33px 48px 36px 48px;
}
.main__explore__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main__explore__item{
    display: flex;
    align-items: flex-start;
    align-items: center;
    width: 200px;
}
.main__explore__item .icon{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.main__explore__item h3{
    color: #363636;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}
.main__explore__item p{
    color: rgba(161, 161, 161, 0.60);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}
hr{
    width: 1px;
    height: 49px;
    background: rgba(54, 54, 54, 0.60);
    border: none;
}
.main__explore__btn{
    width: 143px;
    height: 52px;
    border-radius: 15px;
    border: none;
    background: #00A0B1;
}